{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Precise data | Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/logo/precise-logo-transparent.png' %}" rel="icon">
  <link href="{% static 'img/logo/precise-logo-transparent.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<style>
  span {
    color: red;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
  }


  h1 {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 32px;
    }
  }


  h2 {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 24px;
    }
  }

  h4 {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    h4 {
      font-size: 20px;
    }
  }


  ul {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    ul {
      font-size: 16px;
    }
  }


  p {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    p {
      font-size: 16px;
    }
  }
</style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <img src="{% static 'img/logo/precise-logo-transparent.png' %}" alt="" class="img-fluid" height="6%" width="8%">
      <h1 class="logo me-auto"><a href="#about">Precise data</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#services">Services</a></li>
          <!-- <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li> -->
          <li><a class="nav-link scrollto" href="{% url 'index' %}#team">Team</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a> -->
          <!-- <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="{% url 'index' %}#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/getstarted">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section id="hero">
    <div class="container">
      <div class="row">
        <!------------------------------------------------------------------------------------------------------------->
        <h3 style="text-align:center;color: azure;"></h3>
        <div class="col" data-aos="zoom-in">
          <h1>Drive strategy, personalization, & growth with web data for the travel industry</h1>
          <p style="color: azure;">
            Dominate your industry space on social media with smarter campaigns, anticipate the next big trends, &
            understand your customer journey in real-time with the world’s #1 platform for social media data.
          </p>


        </div>

        <div class="col" data-aos="zoom-in">
          <img style="margin-left: 15%;" src="{% static 'img/travel/Travel-industry_main-image-1.png' %}" alt="">
        </div>


      </div>
      <!-----------------------row1 end-------------------------------------------------------------------------------------->

    </div><!---container end-->

  </section><!-- End Hero -->

  <section>
    <div class="container ">
      <div class="row" data-aos="fade-up" data-aos-delay="200"><!----row 2 start--------------->
        <div class="section-title">
          <h1 class="text-center"
            style="font-family:Jost;font-weight: bold;text-transform: uppercase;padding-bottom: 20px;position: relative;color: #37517e;">
            The leading travel & hospitality brands rely on Scraped Data to deliver their web data
          </h1>
        </div>
      </div><!---------------row 2 end  ---------------->

      <div class="row"><!----row 3 start--------------->

        <div class="col" data-aos="fade-right" data-aos-delay="200">
          <img src="{% static 'img/travel/pricing-strategy.svg' %}" alt="">
        </div>


        <div class="col mt-3" data-aos="fade-left" data-aos-delay="200">
          <h4 class="text-center">Optimize your pricing strategy with real-time comparative flight, hotel, & tourism
            data</h4>
          <p>Compare prices of hotel & travel competitors to set dynamic pricing models in real-time
            </br> </br> </br>Chart changes in ratings, price history, amenities, availability, and any public parameters
            published by travel industry
            </br> </br> </br>Get alerted to new deals & promotions in real-time
            </br> </br> </br>Determine the right price for every travel promotion– on every channel, all of the time
            </br> </br> </br>Find transportation listings with timetables and prices off any website from any location
            on earth
          </p>
        </div>


      </div><!---------------row 3 end  ---------------->


      <div class="row mt-5"><!----row 4 start--------------->

        <div class="col" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'img/travel/Monitor-consumer-behavior.svg' %}" alt="">
        </div>

        <div class="col mt-3" data-aos="fade-right" data-aos-delay="200">
          <h4 class="text-center">Monitor consumer behavior with real-time social media & reviews data</h4>
          <p>Understand customer sentiment by keeping track of customer reviews and chatter on social media, customer
            portals, online communities, and forums
            </br> </br> </br>Discover the most trending keywords that consumers use before they land on a travel website
            </br> </br> </br>Keep track of who customers are following, being followed by, liking, & talking about to
            understand the true user experience
            </br> </br> </br>Personalize your customers’ journey with real-time data delivered like posts, likes,
            comments, hashtags, & videos
          </p>

        </div>

      </div><!---------------row 4 end  ---------------->


      <div class="row mt-5"><!----row 5 start--------------->

        <div class="col" data-aos="fade-right" data-aos-delay="200">
          <img src="{% static 'img/travel/Forecast-the-next-big-trends.svg' %}" alt="">
        </div>

        <div class="col mt-5" data-aos="fade-left" data-aos-delay="200">
          <h4 class="text-center">Forecast the next big trends & gain visibility of your competition</h4>
          <p>Monitor and analyze competitor social media campaign
            </br> </br> </br>Track where and how influencers are traveling on social media for market insights
            </br> </br> </br>Follow trends data to forecast the next travel hotspots
            </br> </br> </br>Aggregate tourism news data from travel blogs, magazines, market research reviews, and
            other web resource
          </p>
        </div>


      </div><!---------------row 5 end  ---------------->



    </div><!---------------container 2 end  ---------------->
  </section>






  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Become a Friend of the Precise data by signing up for our newsletter!</p>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="newsletter" class="form-control" required>
              <input type="email" id="seeemail" name="email" placeholder="your email"
                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
              <input onclick="sayhello2()" type="submit" value="Subscribe" required>
              <h2 id="msg2"
                style="color:#37517e ;font-family: Jost, sans-serif;font-size: 16px;font-weight: bold;text-transform: uppercase;">
              </h2>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Precise data</h3>
            <p>
              A517 Blue-Rose,Borivali East<br>
              Mumbai, MH 400066<br>
              INDIA <br><br>
              <strong>Phone:</strong> +91 8097024701<br>
              <strong>Email:</strong> info@precisedata.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'privacypolicy' %}">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'privacypolicy' %}">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'template' %}">Pre-made Web Scraper</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'customizescraping' %}">Customize Web scraping</a>
              </li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'datasets' %}">Datasets</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'automation' %}">Web Automation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'getstarted' %}">Web Development</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Unlocking the Power of Connection: Explore and Engage with Our Social Networks</p>
            <div class="social-links mt-3">
              <a href="https://wa.me/918097024701?text=I%20want%20to%20know%20more%20about%20Precisedata%20services"
                target="_blank" class="linkedin"><i class="bx bxl-whatsapp"></i></a>
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Precise data</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="">Precise data</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>



</body>


</html>